body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;

   background-image: url("https://www.animatedimages.org/data/media/597/animated-planet-image-0028.gif");
 background-color: #f06d06;
  color: white;
  text-align: center;
}
